{#  on hérite du fichier de base : template/base.html.twig #}
{% extends 'base.html.twig' %}

{#  chaque block correspond à une zone définie dans
    la page parent
#}
{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {#
        ici {{  parent() }} permet de récupérer le contenu
        présent dans le block "body" de la template parent

        si on ne met pas {{ parent() }} on écrase ce qui est
        présent dans la template parent
    #}
    {{ parent() }}

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for annonce in annonces %}

                {% set toto=annonce.id %}
                {{ toto }}

                {% if annonce.enable %}
                    Actif
                {% elseif annonce.id < 4 %}
                    Annonce inférieur à 4
                {% else %}
                    Sinon ...
                {% endif %}
                <div class="col">
                <div class="card shadow-sm">
                    <img src="https://www.fillmurray.com/640/360?rand={{ random() * 1000 }}" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ annonce.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url('detail', {'annonce': annonce.id }) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">{{ annonce.createAt|date('d/m/Y') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
